/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile First - CSS do mobile */

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0 5px;
    background-color: black;
}

header i {
    font-size: 2rem; /*32px*/
    color: white;
}

header img {
    margin-right: calc(50% - 44.15px);  
    height: 50px;
}

header nav {
    display: none;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

#sessao-principal {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px dotted grey;
}

#sessao-principal figure {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

#sessao-principal figure img {
    height: 170px;
    margin-left: -20px;
}

#sessao-principal a {
    
    text-align: center;
    background-color: orangered;
    color: white;

}


@media screen and (min-width: 768px){

}