@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: grey;
}

/* Mobile First - CSS do mobile */

/* ********************CABEÇALHO************** */
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5px 5px 0 5px;
    background-color: black;
}

header i {
    font-size: 2rem;
    color: white;
}

header img {
    height: 55px;
    margin-right: calc(50% - (97px / 2 ) );
}

header nav { 
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;
    padding: 0 10%;
    background-color: black;
}

header nav a {
    color: white;
    text-align: center;
    text-decoration: none;
}

header nav a:hover {
    background-color: orangered;
    border-radius: 3px;
}

/* ********************MAIN************** */

main {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

/* ********************SESSÃO PRINCIPAL************** */
#sessao-principal {
    padding-bottom: 15px;
    border-bottom: 2px dotted grey;
}

#sessao-principal figure {
    display: flex;
    justify-content: center;
}

#sessao-principal figure img {
    height: 150px;
    margin-left: -20px;
}

article {
    font-size: 0.8rem;
}

#sessao-principal article h1 {
    width: 80%;
    margin-top: 15px;
    font-size: 1.5rem;
    color: orangered;
}

#sessao-principal article p {
    width: 90%;
    margin-top: 15px;
}

#sessao-principal article a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: orangered;
    color: white;
    border-radius: 5px;

}

/* ********************SESSÃO PRODUTOS************** */
#produtos {
    margin-top: 15px;
}

#produtos article { border: 1px solid grey; }

#produtos article h2 {
    padding-right: 10px;
    padding-left: 10px;
    /* para estudo do line height 
       - gerando padding top e bottom através 
       da altura da linha 
    */
    font-size: 0.8rem;
    /* line-height: 2rem; */
    text-transform: uppercase;
    background-color: orangered;
    color: white;
}

#produtos article img {
    float: left;
    margin: 10px;
}

#produtos article p {
    padding: 10px;
}

/* ********************SESSÃO PRODUTOS************** */
footer {
    margin-top: 25px;
    padding-left: 5px;
    background-color: black;
}

footer img {
    width: 30px;
    margin-top: -15px;
}



footer p {
    width: 80%;
    margin: 0 auto;
    font-size: 0.7rem;
    text-align: center;
}


@media screen and (min-width: 768px){

}