/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile First - CSS do mobile */

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0 5px;
    background-color: black;
}

header i {
    font-size: 2rem; /*32px*/
    color: white;
}

header img {
    margin-right: calc(50% - 44.15px);  
    height: 50px;
}

header nav {
    display: none;
}




#sessao-principal figure img {
    width: 80%;
}